.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.img-div {
    margin-top: 100px;
}

.img {
    width: 272px;
    height: 92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    justify-content: center;
}

.search-input {
    display: flex;
}

.center-box {
    padding-left: 50px;
    background-color: transparent;
    border: none;
    border-color: rgb(223, 225, 229);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    width: 500px;
    outline: none;
    height: 44px;
    font-size: 16px;
    margin-top: 25px;
    margin-left: -20px;
    color: rgba(0, 0, 0, .87);
}

.center-box:hover {
    box-shadow: 1px 1px 1px 1px rgb(223, 225, 229);
}

.two-button-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.search-btn {
    font-size: small;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 8px 20px;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, .54);
}

.search-btn:hover {
    border: solid;
    border-width: thin;
    border-color: #999999
}

.lens {
    width: 20px;
    margin-top: 38px;
    margin-right: -20px;
}

.mic {
    width: 15px;
    margin-top: 35px;
    margin-left: -30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 3px 0px 0px 20px;
    color: rgba(0, 0, 0, .54);
    border: solid rgba(0, 0, 0, .10);
    border-width: thin;
}

.footer p {
    margin-left: 20px;
    display: inline;
}

.left-align {
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    padding-bottom: 10px;
}

.right-align {
    flex-direction: row-reverse;
    justify-content: flex-end;
    border: none;
    padding-bottom: 10px;
    margin-right: 25px;
}

.input-container {
    display: flex;
    justify-items: center;
}

.g-offered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
}

.brand {
    width: 90px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: thin;
    border-top: none;
    border-left: none;
    border-color: rgb(223, 225, 229);
}

.adv-label {
    margin-left: 30px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.todo-label {
    color: #777777;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.find {
    color: #333333;
    font-size: 16px;
}

.left-inner {
    color: #222222;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-inner {
    color: #555555;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-span {
    color: #666666;
    font-size: 11px;
    font-family: monospace;
}

.jfk-textinput {
    background: #ffffff;
    padding: 1px 8px;
    width: 100%;
    border: none;
    border-color: rgb(223, 225, 229);
    border-style: solid;
    border-width: 1px;
}

.jfk-two {
    background: #ffffff;
    padding: 1px 8px;
    width: 47.7%;
    border: none;
    border-color: rgb(223, 225, 229);
    border-style: solid;
    border-width: 1px;
}

.row {
    padding: 10px;
}

.duo {
    text-align: center;
}

.form-cont {
    margin-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: thin;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: rgb(223, 225, 229);
}

.right-text {
    text-align: end;
}

.bottom-page-links {
    margin: 40px 30px;
}

.nested-div {
    margin-left: -38px;
}

select {
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(223, 225, 229);
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/7878090371537182966-512.png");
    background-position: right 4px center;
    background-size: 8px;
    background-repeat: no-repeat;
    color: #444;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

select:hover {
    border-color: darkgray;
}

option {
    background-color: white;
}

option:selection {
    background-color: yellow;
}